* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(157, 157, 157);
}

main {
  padding: 1rem;
  height: 100vh;
 
}

.homePage {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
border-style: solid;


}

img {
  margin-top: auto;
  margin-bottom: 5%;
  margin-left: 15%;
  border-radius: 10px;
  max-width:fit-content;
}

.container {
  background-color: rgb(158, 158, 158);
}

.title {
color: rgb(1, 1, 1);
border-style: groove;
}
.author {
  color: rgb(0, 0, 0);
  border-style: groove;
  
}

.published {
  border-style: groove;
}
.content {
  border-style: groove;
}
.tags {
  border-style: groove;
}
.display-2 {
  border-style: ridge;
  border-color: black;
  
}
.lead {
  border-style: solid;
}

.list {
  background: rgba(0, 0, 0, 0.5)
}

.button2 {
  color: rgb(255, 255, 255);
}
.button1 {
  color: white;
}

.button3 {
  color: white;
  padding: .6%;
  border-top-color: black;
}
