* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}

main {
  padding: 1rem;
  height: 100vh;
 
}

.homePage {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;


}

img {
  margin-top: auto;
  margin-bottom: 5%;
  margin-left: 15%;
  border-radius: 10px;
  max-width:fit-content;
}
